<!-- FOOTER  -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 foot_logo"><i class="fa fa-2x fa-edit text-success"></i>Agileframework</div>
            <div class="col-lg-7">
                <div class="row foot_menu">
                    <div class="col-lg-3">
                        <div class="menu_title">about</div>
                        <ul class="list-unstyled foot_pad-top">
                            <li><a href="about.html">About Me</a></li>
                            <li><a href="changelog.html">History</a></li>
                            <li>Version</li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <div class="menu_title">technology</div>
                        <ul class="list-unstyled foot_pad-top">
                            <li>编程语言</li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li><a href="glossary">计算机词汇</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <div class="menu_title">life</div>
                        <ul class="list-unstyled foot_pad-top">
                            <li></li>
                            <li>音视频Audio&Video</li>
                            <li>游戏Games</li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <div class="menu_title">contact</div>
                        <ul class="list-unstyled foot_pad-top">
                            <li><a href="http://ikms.github.com">Github</a></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="copyright">
                Copyright &copy;
                <script type="text/javascript">
                    //<![[CDATA[
                    var d = new Date()
                    document.write(d.getFullYear())
                    //]]>
                </script> <a href="#">agileframework.org</a>.All rights reserved

                <div class="changelog">create:2014.09.01 update:2014.09.04</div>
            </div>
        </div>
    </div>
</footer>
<!-- up to top -->
<a href="#"><i class="go-top hidden-xs hidden-sm hidden-print fa fa-angle-double-up"></i></a>
<!--//end-->
<!-- SCRIPT -->

<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/javascripts/scripts.js"></script>