<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="OpenSource Documents,framework">
<meta name="author" content="oxidyc">

<title>
    {% if page.url == site.baseurl %}
        {{page.title}}
    {% else %}
        {{page.title}} &middot; agileframework.org
    {% endif %}
</title>

<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/fontawesome/4.1.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/theme.css">

<!-- Favicons-->
<link rel="icon" href="/favicon.ico">
