<!-- HEADER -->
<div class="bs_header">
    {% include nav/technology.html %}
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2"><a href="#"><i class="fa fa-5x fa-edit logo"></i></a></div>
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                <h1>{{page.title}}</h1>
                <p>Documents about life and technology.</p>
                <p class="text-right">Create:2014.09.04</p>
            </div>
        </div>
    </div>
</div>