<!-- HEADER -->
<div class="bs_header {{ page.bgclass }}">
    {% if page.nav == 'technology' %}
    {% include nav/technology.html %}
    {% elsif page.nav == 'life' %}
    {% include nav/life.html %}
    {% elsif page.nav == 'default' %}
    {% include nav/default.html %}
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2"><i class="fa fa-5x fa-edit logo"></i></div>
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                <h1>{{page.title}}</h1>
                <p>{{page.desc}}</p>
                <p class="text-right">Create:{{page.date}}</p>
            </div>
        </div>
    </div>
</div>