<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="http://libs.baidu.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://libs.baidu.com/fontawesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/theme.css">
    <link rel="stylesheet" href="stylesheets/nerveslider.css" media="screen"/>
    <title>{{page.title}}</title>
</head>
<body>
<!-- HEADER -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2"><a href="#"><i class="fa fa-5x fa-edit logo"></i></a></div>
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                <h1>Oxidyc
                    <p><small>Documents about life and technology.</small></p>
                </h1>
            </div>
        </div>
    </div>
</header>

{{content}}

<!-- FOOTER  -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 foot_logo"><i class="fa fa-2x fa-edit text-success"></i>Agileframework</div>
            <div class="col-lg-7">
                <div class="row foot_menu">
                    <div class="col-lg-3">
                        <div class="menu_title">about</div>
                        <ul class="list-unstyled foot_pad-top">
                            <li><a href="about.html">About Me</a></li>
                            <li><a href="changelog.html">History</a></li>
                            <li>Version</li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <div class="menu_title">technology</div>
                        <ul class="list-unstyled foot_pad-top">
                            <li>编程语言</li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li>计算机词汇</li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <div class="menu_title">life</div>
                        <ul class="list-unstyled foot_pad-top">
                            <li></li>
                            <li>音视频Audio&Video</li>
                            <li>游戏Games</li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <div class="menu_title">contact</div>
                        <ul class="list-unstyled foot_pad-top">
                            <li><a href="http://ikms.github.com">Github</a></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="copyright">
                Copyright &copy;
                <script type="text/javascript">
                    //<![[CDATA[
                    var d = new Date()
                    document.write(d.getFullYear())
                    //]]>
                </script> <a href="#">agileframework.org</a>.All rights reserved

                <div class="changelog">create:2014.09.01 update:2014.09.04</div>
            </div>
        </div>
    </div>
</footer>
<!-- up to top -->
<a href="#"><i class="go-top hidden-xs hidden-sm hidden-print fa fa-angle-double-up"></i></a>
<!--//end-->
<!-- SCRIPT -->

<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="javascripts/scripts.js"></script>

<script src="javascripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="javascripts/jquery.nerveSlider.min.js"></script>
<script>
    //<![CDATA[
    $(document).ready(function() {
        $(".myslider").show();
        $(".myslider").startslider({
            sliderWidth:1170,
            sliderHeight:422,
            slideTransitionSpeed: 2000,
            slideTransitionEasing: "easeOutExpo",
            slidesDraggable: true,
            sliderResizable: true,
            showArrows: true
        });
    });
    //]]>
</script>
</body>
</html>
